<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Shipping Address</title>
</head>
<body>
    <h1>Add Shipping Address</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>
        <br>
        <label for="zip_code">Zip Code:</label>
        <input type="text" id="zip_code" name="zip_code" required>
        <br>
        <label for="street">Street:</label>
        <input type="text" id="street" name="street" required>
        <br>
        <label for="house_number">House Number:</label>
        <input type="text" id="house_number" name="house_number" required>
        <br>
        <button type="submit">Save Address</button>
    </form>
    <br>
    <a href="{% url 'index' %}" class="btn btn-secondary">Back to the Products</a> 
</body>
</html>
