<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="profile-container">
        <h1>Welcome, {{ user.username }}</h1>
        <p>Email: {{ user.email }}</p>
        <p>Date Joined: {{ user.date_joined }}</p>
        <a class="btn" href="{% url 'index' %}">Back to the products</a> <!-- Змінили URL на головну сторінку -->
    </div>
</body>
</html>
